<nav>
  <div class="nav-wrapper ">
    <a href="#" class="brand-logo center">
      <i class="material-icons">dashboard</i>Dashboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down increasetext" >
      <li>
      
        <a (click)="Logout()">Logout</a>
     

      </li>
    </ul>
  </div>
</nav>
<!-- <div class="row" *ngIf="userClaims"> -->
  <div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <app-add-products></app-add-products>
        <!--<span>Username :{{userClaims.UserName}}</span>
        <br>
        <span>Email : {{userClaims.Email}}</span>
        <br>
        <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
        <br>
        <span>Logged On : {{userClaims.LoggedOn}}</span>-->
      </div>
    </div>
  </div>
</div>